{% extends 'base.html.twig' %}

{% block title %}Welcome to Dorehami Website{% endblock %}

{% block body %}
    <div>
        <div>
            <h1>Welcome to Dorehami Website</h1>
            <p>This is your home page.</p>
            <hr>

            {% if is_granted('ROLE_USER') %}
                <p>You are logged in as {{ app.user.email }}</p>

                {% if app.user.avatarUrl %}
                    <img src="{{ app.user.avatarUrl }}" alt="User avatar" style="max-width: 100px;">
                {% endif %}

                {% if app.user.discordUsername %}
                    <p>Discord username: {{ app.user.discordUsername }}</p>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}">Go to Admin Panel</a>
                {% endif %}

                <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <p>Please log in to access your account</p>
                <a href="{{ path('app_login') }}">Login</a>
                <a href="{{ path('connect_discord') }}">
                    <i></i> Login with Discord
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}