<!DOCTYPE html>
<html lang="fa" dir="rtl" class="font-sans scroll-smooth">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}دورهمی{% endblock %}</title>
    <meta name="description"
          content="{% block meta_description %}جامعه توسعه‌دهندگان نرم‌افزار ایرانی - یک پلتفرم برای تبادل دانش و ارتباط برنامه‌نویسان فارسی‌زبان{% endblock %}">
    <meta name="keywords"
          content="{% block meta_keywords %}برنامه‌نویسی, توسعه نرم‌افزار, ایران, پرسش و پاسخ, دیسکورد, برنامه‌نویسان{% endblock %}">
    <meta property="og:title" content="{% block og_title %}{{ block('title') }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ block('meta_description') }}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:url"
          content="{% block og_url %}{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}{% endblock %}">
    <meta property="og:site_name" content="دورهمی">
    <meta name="twitter:card" content="summary">
    <link rel="canonical"
          href="{% block canonical_url %}{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}{% endblock %}">
    <link rel="icon" href="{{ asset('images/logo.svg') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script defer data-domain="dorehami.dev"
            src="https://analytics.aien.me/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function () {
            (window.plausible.q = window.plausible.q || []).push(arguments)
        }</script>
</head>

<body class="font-estedad antialiased bg-slate-900 text-slate-200 tracking-tight">

<div class="flex flex-col min-h-screen overflow-hidden supports-[overflow:clip]:overflow-clip">
    <header class="absolute w-full bg-slate-900 z-30">
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="flex items-center justify-between h-16 md:h-20">
                <div class="shrink-0 mr-4">
                    <a class="block group" href="{{ path('app_home') }}" aria-label="Dorehami">
                        <img src="{{ asset('images/logo.svg') }}" width="32" height="32" alt="جامعه‌ی دورهمی"/>
                    </a>
                </div>

                <nav class="flex grow">
                    <ul class="flex grow justify-end flex-wrap items-center">
                        <li>
                            {% if is_granted('ROLE_USER') %}
                                <div class="flex gap-1 px-3 lg:px-5 py-2 ">
                                    <img src="{{ app.user.avatarUrl }}" alt="{{ app.user.displayName }}"
                                         class="w-8 h-8 rounded-full">
                                    <span class="text-sm font-medium text-slate-400 flex items-center">{{ app.user.displayName }}</span>
                                </div>
                            {% else %}
                                <a class="text-sm font-medium text-slate-400 hover:text-slate-200 px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out"
                                   href="{{ path('app_login') }}">ورود</a>
                            {% endif %}
                        </li>
                        {% if not is_granted('ROLE_USER') %}
                            <li class="ml-3">
                                <a class="btn-sm text-white bg-indigo-500 hover:bg-indigo-600 w-full"
                                   href="{{ path('connect_discord') }}">پیوستن به جامعه</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% set flashes = app.flashes %}
    {% if flashes|length > 0 %}
        <div class="mt-24 max-w-6xl mx-auto px-4 sm:px-6">
            {% for type, messages in flashes %}
                {% for message in messages %}
                    <div class="min-w-2xl text-center p-4 rounded-md relative border {% if type == 'success' %}bg-linear-to-tr from-emerald-800/20 via-emerald-800/30 to-emerald-800/20 border-emerald-700 text-emerald-200{% elseif type == 'error' %}bg-linear-to-tr from-red-800/20 via-red-800/30 to-red-800/20 border-red-700 text-red-200{% elseif type == 'info' %}bg-linear-to-tr from-indigo-800/20 via-indigo-800/30 to-indigo-800/20 border-indigo-700 text-indigo-200{% else %}bg-linear-to-tr from-slate-800/20 via-slate-800/50 to-slate-800/20 border-slate-700 text-slate-200{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <main class="grow">
        {% block body %}{% endblock %}
    </main>

    <footer class="border-t border-slate-800">
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="py-8">
                <div class="flex flex-col md:flex-row items-center justify-center md:justify-between mb-4">
                    <div class="shrink-0 ml-4">
                        <a class="inline-flex group mb-8 md:mb-0" href="{{ path('app_home') }}" aria-label="Dorehami">
                            <img src="{{ asset('images/logo.svg') }}" width="32" height="32" alt="جامعه‌ی دورهمی"/>
                        </a>
                    </div>
                    <div class="text-sm font-medium md:order-1 mb-2 md:mb-0">
                        <ul class="inline-flex flex-wrap text-sm space-x-6">
                            <li>
                                <a class="text-slate-500 underline hover:no-underline" href="{{ path('app_about') }}">درباره
                                    جامعه</a>
                            </li>
                            <li>
                                <a class="text-slate-500 underline hover:no-underline" href="{{ path('app_rules') }}">قوانین
                                    و مقررات</a>
                            </li>
                            <li>
                                <a class="text-slate-500 underline hover:no-underline" href="{{ path('app_faq') }}">سوالات
                                    متداول</a>
                            </li>
                            <li>
                                <a class="text-slate-500 underline hover:no-underline"
                                   href="{{ path('redirect_invite') }}">پیوستن به دیسکورد</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="text-center md:flex md:items-center md:justify-between">
                    <ul class="inline-flex mb-4 md:order-1 md:mr-4 md:mb-0 space-x-2">
                        <li>
                            <a class="flex justify-center items-center text-indigo-500 hover:text-indigo-400 transition duration-150 ease-in-out"
                               href="{{ path('redirect_invite') }}" aria-label="Discord">
                                <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.242 9.115c-2.865-2.144-5.61-2.084-5.61-2.084l-.28.321c3.406.944 4.985 2.3 4.985 2.3-1.508-.824-2.955-1.375-4.323-1.568-.999-.135-1.96-.103-2.8.024l-.238.032c-.477.054-1.631.222-3.091.87l-.801.404s1.65-1.436 5.261-2.39l-.202-.25s-2.744-.06-5.61 2.082c0 0-2.865 5.189-2.865 11.595 0 0 1.672 2.886 6.067 3.025 0 0 .736-.89 1.33-1.648-2.522-.758-3.476-2.351-3.476-2.351s.199.141.556.342c.02 0 .039.02.058.039.045.032.09.046.136.077.377.214.754.381 1.102.517.618.238 1.357.476 2.216.639 1.131.214 2.455.293 3.899.017.708-.135 1.435-.341 2.201-.639.53-.214 1.122-.517 1.734-.954 0 0-.994 1.633-3.588 2.371.595.757 1.311 1.629 1.311 1.629 4.395-.139 6.086-3.025 6.086-3.025 0-6.406-2.865-11.595-2.865-11.595zM10.909 19.07c-1.122 0-2.034-1.036-2.034-2.309 0-1.274.893-2.31 2.034-2.31 1.15 0 2.063 1.036 2.044 2.31 0 1.273-.893 2.309-2.044 2.309zm7.304 0c-1.122 0-2.034-1.036-2.034-2.309 0-1.274.912-2.31 2.034-2.31 1.15 0 2.063 1.036 2.044 2.31 0 1.273-.893 2.309-2.044 2.309z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="flex justify-center items-center text-indigo-500 hover:text-indigo-400 transition duration-150 ease-in-out"
                               href="https://github.com/Dorehami" target="_blank" rel="noopener" aria-label="Github">
                                <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 8.2c-4.4 0-8 3.6-8 8 0 3.5 2.3 6.5 5.5 7.6.4.1.5-.2.5-.4V22c-2.2.5-2.7-1-2.7-1-.4-.9-.9-1.2-.9-1.2-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.3 1.9.9 2.3.7.1-.5.3-.9.5-1.1-1.8-.2-3.6-.9-3.6-4 0-.9.3-1.6.8-2.1-.1-.2-.4-1 .1-2.1 0 0 .7-.2 2.2.8.6-.2 1.3-.3 2-.3s1.4.1 2 .3c1.5-1 2.2-.8 2.2-.8.4 1.1.2 1.9.1 2.1.5.6.8 1.3.8 2.1 0 3.1-1.9 3.7-3.7 3.9.3.4.6.9.6 1.6v2.2c0 .2.1.5.6.4 3.2-1.1 5.5-4.1 5.5-7.6-.1-4.4-3.7-8-8.1-8z"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="flex justify-center items-center text-indigo-500 hover:text-indigo-400 transition duration-150 ease-in-out"
                               href="https://www.linkedin.com/company/%D8%AF%D9%88%D8%B1%D9%87%D9%85%DB%8C-dorehami"
                               target="_blank" rel="noopener" aria-label="LinkedIn">
                                <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.3 8H8.7C8.3 8 8 8.3 8 8.7v14.7c0 .3.3.6.7.6h14.7c.4 0 .7-.3.7-.7V8.7c-.1-.4-.4-.7-.8-.7zM12.7 21.6h-2.3V14h2.4v7.6h-.1zM11.6 13.1c-.8 0-1.4-.7-1.4-1.4 0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4-.1.7-.7 1.4-1.4 1.4zm10 8.5h-2.4v-3.7c0-.9 0-2-1.2-2s-1.4 1-1.4 2v3.8h-2.4V14h2.3v1c.3-.6 1.1-1.2 2.2-1.2 2.4 0 2.8 1.6 2.8 3.6v4.2h.1z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="text-sm text-slate-600">تمامی حقوق برای دورهمی محفوظ است. &copy; ۱۴۰۴</div>
                </div>
            </div>
        </div>
    </footer>
</div>

{% block structured_data %}{% endblock %}
</body>

</html>