{% extends 'base.html.twig' %}

{% block title %}ارسال مقاله جدید | دورهمی{% endblock %}

{% block body %}
    <section class="relative">
        <div class="absolute left-1/2 -translate-x-1/2 pointer-events-none -z-10" aria-hidden="true">
            <img src="{{ asset('images/hero-illustration.svg') }}" class="max-w-none" width="1905" height="622"
                 alt="Hero Illustration">
        </div>

        <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
            <div class="pt-32 pb-12 md:pt-40 md:pb-20">
                <div class="max-w-2xl mx-auto text-center">
                    <h1 class="h2 font-badkhat bg-clip-text text-transparent bg-linear-to-tr from-indigo-500 via-sky-300 to-slate-200 py-12">
                        اشتراک‌گذاری مقاله و مطلب</h1>
                </div>

                <div class="max-w-6xl mx-auto">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="space-y-8">
                        <div class="flex gap-4 w-full">
                            <div class="flex-1">
                                {{ form_label(form.title, null, {'label_attr': {'class': 'sr-only'}}) }}
                                {{ form_widget(form.title, {'attr': {'class': 'form-input text-sm w-full'}}) }}
                                <p class="text-slate-500 text-sm mt-1">
                                    عنوان میتونه هر چیزی برای خواننده‌ها باشه.
                                </p>
                                {{ form_errors(form.title) }}
                            </div>
                            <div class="flex-1">
                                {{ form_label(form.url, null, {'label_attr': {'class': 'sr-only'}}) }}
                                {{ form_widget(form.url, {'attr': {'class': 'form-input text-sm w-full'}}) }}
                                <p class="text-slate-500 text-sm mt-1">
                                    اگر این لینک قبلاً ارسال شده باشه، به صفحه اون مقاله هدایت خواهی شد.
                                </p>
                                {{ form_errors(form.url) }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(form.description, null, {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-input text-sm w-full'}}) }}
                            <p class="text-slate-500 text-sm mt-1">
                                یه توضیح کوتاه برای خواننده‌ها، در صورتی که نخوان لینک رو باز کنن.
                            </p>
                            {{ form_errors(form.description) }}
                        </div>
                        <div>
                            {{ form_label(form.domainIsPersonal, null, {'label_attr': {'class': 'sr-only'}}) }}
                            <div class="flex gap-2 items-center">
                                {{ form_widget(form.domainIsPersonal, {'attr': {'class': 'form-checkbox text-sm'}}) }}
                                <p class="text-slate-500 text-sm">
                                    آیا دامنه، به شخص تعلق داره یا شخصیه؟ مثلا دامنه‌ی ویرگول شرکتیه و شخصی نیست
                                </p>
                            </div>
                            {{ form_errors(form.domainIsPersonal) }}
                        </div>
                    </div>
                    <div class="mt-8 text-center mx-auto">
                        <button type="submit"
                                class="btn-sm text-white bg-indigo-500 hover:bg-indigo-600 w-full max-w-sm">ارسال مقاله
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}